
<title>@ViewBag.Title</title>


<style>
    .button {
        background-color: blue; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }
</style>


<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <button id="btnShowModal" type="button"
                    class="btn btn-sm btn-default pull-left col-lg-11 button button4">
                Connection
            </button>

            @Html.Partial("_ModalLogin")



        </div>
    </div>
</div>


@Html.Partial("_ScriptModal")
@Html.Partial("_Script")

